@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  flex: 1;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  margin: 50px;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

p {
  font-size: 1.5em;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  position: relative;
  box-shadow: 0 2px 4px 1px grey;
}
header .logo {
  width: 40%;
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
}
.location form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px 1px gray;
  width: 100%;
}
.location form .location__icon {
  font-size: 1em;
}
.location form .location__recherche {
  border: none;
  color: black;
  background-color: inherit;
  font-size: 1.4em;
  width: 156px;
  margin: 25px 0 25px 15px;
  font-weight: 500;
}

.reservation {
  background-color: #f6f6f6;
  width: 100%;
  z-index: 1;
}
.reservation .reservation__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 27px;
  width: 100%;
  gap: 20px;
}
.reservation .reservation__title h1 {
  width: 50%;
}
.reservation .reservation__title p {
  text-align: center;
  width: 70%;
}
.reservation .reservation__input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 57px;
}
.reservation .reservation__input .reservation__input--btn {
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  color: white;
  border: transparent;
  border-radius: 40px;
  padding: 20px 25px;
  font-size: 1.5em;
  box-shadow: 5px 8px 8px 2px lightgray;
  transition: opacity 500ms ease-in-out;
}

.reservation__input--btn:hover {
  opacity: 75%;
  cursor: pointer;
}

.fonctionnement {
  width: 100%;
  padding-bottom: 40px;
  background-color: white;
}
.fonctionnement h2 {
  margin: 0;
  padding: 50px 20px;
  background-color: white;
}
.fonctionnement .fonctionnement__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.fonctionnement .fonctionnement__container .fonctionnement__list {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 80%;
  padding: 30px 0;
  box-shadow: 8px 8px 8px 3px lightgray;
}
.fonctionnement .fonctionnement__container .fonctionnement__list .fonctionnement__list--nmber {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
  font-size: 1em;
  position: relative;
  left: -15px;
}
.fonctionnement .fonctionnement__container .fonctionnement__list .fonctionnement__list--icon {
  font-size: 1.5em;
  padding: 0 30px;
  color: #7E7E7E;
}
.fonctionnement .fonctionnement__container .fonctionnement__list .fa-store {
  color: #9356DC;
}

.restaurant {
  width: 100%;
  background-color: #f6f6f6;
  padding: 40px 0;
}
.restaurant .restaurant__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.restaurant .card {
  position: relative;
  border: transparent;
  border-radius: 20px;
  width: 90%;
  background-color: white;
}
.restaurant .card .card__nouveau--palette {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  width: 25%;
  height: 60px;
  border: transparent;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurant .card .card__nouveau--note {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  width: 25%;
  height: 60px;
  border: transparent;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurant .card img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
}
.restaurant .card .card__content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurant .card .card__content .card__content--txt {
  padding: 10px;
}
.restaurant .card .card__content .heart-checkbox {
  display: none;
}
.restaurant .card .card__content .card__content--heart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9em;
  margin-right: 15px;
  cursor: pointer;
}

.heart-checkbox {
  display: none;
}

.heart-icon {
  cursor: pointer;
}
.heart-icon .full-heart {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  display: none;
}
.heart-icon .empty-heart {
  display: inline;
}

.heart-checkbox:checked + .heart-icon .empty-heart {
  display: none;
}
.heart-checkbox:checked + .heart-icon .full-heart {
  display: inline;
}

.footer {
  width: 100%;
  background-color: #353535;
  color: white;
}
.footer .footer__logo {
  padding: 30px 0 0 40px;
}
.footer .footer__ul {
  list-style: none;
  font-size: 1.3em;
  font-weight: 400;
  padding: 18px 0 22px 40px;
}
.footer .footer__ul li {
  padding: 5px;
}
.footer .footer__ul .footer__ul--link {
  font-weight: 500;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  animation: showLoader 1s forwards;
}

@keyframes showLoader {
  100% {
    visibility: hidden; /* Le loader disparaît après 2 secondes */
  }
}
.animation {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  align-items: center;
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 2.5em;
}

.restaurant__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 45vh;
  z-index: 1;
  position: relative;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;
  position: relative;
  bottom: 30px;
  min-height: 80vh;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}
.menu .menu__title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.5em;
  font-weight: 400;
}
.menu .menu__title .heart-icon {
  font-size: 2em;
  padding-right: 20px;
}
.menu .menu__subtitle {
  margin: 10px 20px;
}
.menu .menu__subtitle hr {
  border: none;
  background-color: #99E2D0;
  width: 10%;
  height: 3px;
  margin-top: 5px;
}
.menu .menu__list {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  gap: 20px;
}
.menu .menu__list .dish {
  display: none;
}
.menu .menu__list .menu__list--items {
  display: flex;
  justify-content: space-between;
  border: transparent;
  background-color: white;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu__list .menu__list--items .menu__list--txt {
  padding: 15px;
}
.menu .menu__list .menu__list--items .menu__list--txt p {
  font-size: 1.3em;
}
.menu .menu__list .menu__list--items .menu__list--price {
  display: flex;
  align-items: end;
  gap: 15px;
}
.menu .menu__list .menu__list--items .menu__list--price h3 {
  padding: 10px;
}
.menu .book__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .book__input .book__input--btn {
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  color: white;
  border: transparent;
  border-radius: 40px;
  width: 45%;
  height: 8vh;
  margin: 30px 0;
  font-size: 1.5em;
  box-shadow: 5px 8px 8px 2px lightgray;
  transition: opacity 500ms ease-in-out;
}

.book__input--btn:hover {
  cursor: pointer;
  opacity: 75%;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
  font-size: 2em;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  height: 78%;
  width: 0;
  transition: all 250ms ease-in-out;
}

.dish:checked + .menu__list--items .check {
  width: 55px;
  padding: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
  }
  header {
    box-shadow: 0 0 0 white;
  }
  header .logo {
    width: 25%;
  }
  .location form {
    box-shadow: none;
  }
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement h2 {
    margin-left: 0;
  }
  .fonctionnement .fonctionnement__container {
    flex-direction: row;
    gap: 40px;
  }
  .fonctionnement .fonctionnement__container .fonctionnement__list {
    width: 30%;
    margin: 0 20px;
  }
  .restaurant {
    width: 100%;
  }
  .restaurant .restaurant__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
  }
  .footer .footer__logo {
    padding: 20px 60px;
  }
  .footer .footer__ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .footer .footer__ul li {
    font-weight: 400;
  }
  .footer .footer__ul .footer__ul--link {
    font-weight: 500;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */